* {
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
//
body {
  background: hsl(218, 28%, 13%);
  box-sizing: border-box;
  font-size: 14px;
  box-sizing: border-box;
}
.btn {
  a {
    text-decoration: none;
    padding: 20px 100px;

    border-radius: 28px;
    background: hsl(198, 60%, 50%);
    color: white;
    font-weight: bold;

    &:hover{
    background: hsl(198, 54%, 59%);
    }
  }
}
.logo {
  width: 140px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }
}
// session 1---------------------------------
#session-1 {
  --coloSilver:rgb(212, 211, 211);
  position: relative;
  height: 1100px;
  padding: 0 5%;
  background: hsl(217, 28%, 15%);
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 10px 0;

    .menu {
      display: flex;
      list-style: none;

      li {
        a {
          padding: 10px;
          margin: 0 10px;
          color:var(--coloSilver);
          text-decoration: none;

          &:hover{
            text-decoration-color: white;
            text-decoration:underline;
            color:  hsl(0, 0%, 100%);
            font-weight:bold;
          }
          @media (max-width: 400px) {
            padding: 10px 0px;
          }
        }
      }
    }
  }
  .hero {
    display: flex;
    flex-direction: column;

    align-items: center;
    .hero-ilustration {
      img {
        width: 100%;
      }
    }
    .hero-text {
      z-index: 250;
      color: white;
      text-align: center;
      h2 {
        font-size: 35px;
        padding: 40px 0px;
      }
      p {
        color:var(--coloSilver) ;
        margin-bottom: 40px;
      }
    }
  }
  .curvy {
    position: absolute;
    left: 0;
    bottom: -10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 650px) {
    height: 900px;
  }
  @media (max-width: 400px) {
    height: 500px;
  }
}
// session 2
#session-2 {
  height: 600px;
  position: relative;
  padding: 0 10%;
  @media (max-width: 600px) {
    height: auto;
  }
  @media (max-width: 400px) {
    padding-top: 300px;
  }
  .grid {
    display: grid;
    grid-template-areas: "i1 i2" "i3 i4";
    gap: 20px;

    @media (max-width: 600px) {
      grid-template-areas: "i1" "i2" "i3" "i4";
    }

    .grid-items {
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      text-align: center;

      h3 {
        padding: 20px 20px;
      }
      p {
        width: 65%;
      }
    }
    @for $i from 1 through 4 {
      .grid-items:nth-child(#{$i}) {
        grid-area: i#{$i};
      }
    }
  }
}
// session 3
#session-3 {
  padding: 40px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .illustration {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text {
    color: white;
    padding: 0 80px;
    @media (max-width: 980px) {
      padding-right: 0;
    }
    @media (max-width: 800px) {
      padding: 0;
    }
    h2 {
      padding: 40px 0px;
      font-size: 35px;
      width: 70%;

      @media (max-width: 980px) {
        width: 90%;
      }
      @media (max-width: 800px) {
        font-size: 30px;
        width: 100%;
      }
    }
    p {
      padding: 10px 0px;
    }

    .link {
      color: hsl(176, 68%, 64%);
      
    }
  }
}

// session 4-----------------------
#session-4 {
  padding: 0 5%;
  height: 500px;

  .testimonials {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      padding: 0px 10%;
      margin: 200px 0;
      justify-content: center;
      flex-direction: column;
    }
    .profiles {
      position: relative;
      height: 170px;
      width: 300px;
      padding: 20px 40px;
      background-color: hsl(219, 30%, 18%);
      margin: 15px;
      color: white;

      box-shadow: 5px 5px 2px 1px rgba(51, 51, 51, 0.3);

      @media (max-width: 900px) {
        width: 90%;
        padding: 40px;
      }

      .top {
        padding: 20px 0px;
        height: 50%;
      }
      .bottom {
        display: flex;
        justify-content: space-between;

        .icon {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .text {
          width: 100%;
          padding-left: 20px;
        }
      }

      #quotes {
        position: absolute;
        top: -30px;
        left: 0;
      }
    }
  }
}
// session 5
#session-5 {
  margin-top: 100px;
  position: relative;
  @media (max-width: 900px) {
    margin-top: 400px;
  }
  .email-container {
    padding: 0 40px;
    height: 250px;
    width: 60%;
    background: hsl(217, 28%, 15%);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -150px;

    border-radius: 7px;
      box-shadow: 3px 3px 2px 1px rgba(51, 51, 51, 0.3);
    @media (max-width: 900px) {
      height: auto;
      padding-bottom: 40px;
      top: -250px;
    }
    .top {
      color: white;
      text-align: center;

      padding: 40px;

      @media(max-width:700px){
      padding: 40px 0;
      }
      h2 {
        font-size: 35px;
        @media(max-width:700px){
          font-size: 25px;
        }
      }
      p {
        padding-top: 20px;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;

      align-items: center;
      @media (max-width: 900px) {
        flex-direction: column;
      }
      #btn-email {
        text-align: left;
        width: 30%;
        @media (max-width: 900px) {
          width: 100%;
          margin-top: 40px;
          text-align: center;
        }
        a {
          width: 100%;
          padding: 20px 10%;
        }
      }
      input {
        width: 60%;
        padding: 20px;
        border-radius: 28px;
        margin-right: 5px;
        @media (max-width: 900px) {
          width: 90%;
        }
      }
    }
  }
  footer {
    height: 400px;
    background: hsl(216, 53%, 9%);
    @media (max-width: 900px) {
      height: auto;
    }
    .div {
      height: 250px;
      padding: 0 5%;
      padding-top: 150px;
      @media (max-width: 900px) {
        height: auto;
      }

      .contacts {
        color: white;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 900px) {
          flex-direction: column;
        }
        .location {
          width: 30%;
          text-align: left;
          display: flex;
          * {
            padding: 5px;
          }
        }
        .phone-email {
          width: 25%;
          @media (max-width: 900px) {
            padding-top: 40px;
          }
          .phone {
            width: 30%;
            text-align: left;
            display: flex;
          }
          .email {
            padding-top: 20px;
            width: 25%;
            text-align: left;
            display: flex;
          }
          h3 {
            padding-left: 15px;
          }
        }
        .lists {
          width: 40%;
          display: flex;
          justify-content: space-between;
          @media (max-width: 900px) {
            width: 100%;
            padding-top: 40px;
          }
          @media (max-width: 900px) {
            flex-direction: column;
          }

          ul {
            list-style: none;
            li {
              padding: 7px;
            }
          }
          #icons {
            @media (max-width: 900px) {
              width: 100%;
              text-align: center;
            }
            li {
              display: inline-block;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
